.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 40px;
  border: 1px solid #00000029;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  background: white;
}
