.container {
  form {
    display: flex;
    flex-direction: column;
  }
}

.primary.scss .mat-mdc-raised-button.primary {
  color: #df6d1c;
}

button.submit {
  margin-top: 20px;
  background-color: #df6d1c;
  color: white;
}

.submit.mat-mdc-button-disabled {
  background-color: #97481094;
}
