<form [formGroup]="form" #formGroupDirective="ngForm" (ngSubmit)="onSubmit(formGroupDirective)">
  <div class="fields" [ngClass]="{'x-small-view': (isXSmallView |async)?.matches}">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      @if (form.controls['date'].errors?.['matDatepickerMin']) {
      <mat-error>
        Date cannot be in the past
      </mat-error>
      }

      @else if (form.controls['date'].errors?.['matDatepickerParse']) {
      <mat-error>
        Date is invalid
      </mat-error>
      }

      @else if (form.controls['date'].errors?.['required']) {
      <mat-error>
        Date is required
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Input amount</mat-label>
      <span matTextPrefix>€&nbsp;&nbsp;</span>
      <input type="number" matInput formControlName="amount">

      @if (form.controls['amount'].errors?.['required']) {
      <mat-error>
        Amount is required
      </mat-error>
      }
    </mat-form-field>
  </div>

  <button mat-raised-button class="submit" [disabled]="!form.valid" type="submit">Submit</button>
</form>